.pagination-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.filter {
  color: rgba(123, 123, 123, 1);
  font-family: "Helvetica";
  font-size: 12px;
}
.filter-text {
  font-family: "Helvetica";
  font-size: 12px;
  color: rgba(99, 100, 216, 1);
  text-align: left;
  line-height: 16px;
  padding-left: 2px;
}
.filter-text-special {
  font-family: "Helvetica";
  font-size: 12px;
  color: rgba(99, 100, 216, 1);
  text-align: left;
  line-height: 16px;
  padding-left: 2px;
}
.inline {
  display: inline-block;
}
.description-number {
  color: rgba(123, 123, 123, 1);
}
.description-content {
  font-size: 27px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.comercial {
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 2px;
  box-shadow: 0px 8px 17px 4px rgba(121, 121, 121, 0.1);
  width: 100%;
}
